Web_Client/Service References/KandidatService/Kandidat1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Server" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Server" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfKandidatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KandidatInfo" nillable="true" type="tns:KandidatInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKandidatInfo" nillable="true" type="tns:ArrayOfKandidatInfo" />
  <xs:complexType name="KandidatInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="jurusan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="misi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nomorUrut" type="xs:int" />
      <xs:element minOccurs="0" name="picture" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="prodi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="visi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KandidatInfo" nillable="true" type="tns:KandidatInfo" />
  <xs:complexType name="VoteInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="NIM" type="xs:int" />
      <xs:element minOccurs="0" name="Nomor_Urut" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VoteInfo" nillable="true" type="tns:VoteInfo" />
</xs:schema>