Web_Client/Service References/KandidatService/Kandidat.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Kandidat" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50363/Kandidat.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50363/Kandidat.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50363/Kandidat.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Server" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKandidat_ShowKandidat_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowKandidat" />
  </wsdl:message>
  <wsdl:message name="IKandidat_ShowKandidat_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowKandidatResponse" />
  </wsdl:message>
  <wsdl:message name="IKandidat_validateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:validateUser" />
  </wsdl:message>
  <wsdl:message name="IKandidat_validateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:validateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IKandidat_doVote_InputMessage">
    <wsdl:part name="parameters" element="tns:doVote" />
  </wsdl:message>
  <wsdl:message name="IKandidat_doVote_OutputMessage">
    <wsdl:part name="parameters" element="tns:doVoteResponse" />
  </wsdl:message>
  <wsdl:portType name="IKandidat">
    <wsdl:operation name="ShowKandidat">
      <wsdl:input wsaw:Action="http://tempuri.org/IKandidat/ShowKandidat" message="tns:IKandidat_ShowKandidat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKandidat/ShowKandidatResponse" message="tns:IKandidat_ShowKandidat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IKandidat/validateUser" message="tns:IKandidat_validateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKandidat/validateUserResponse" message="tns:IKandidat_validateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doVote">
      <wsdl:input wsaw:Action="http://tempuri.org/IKandidat/doVote" message="tns:IKandidat_doVote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKandidat/doVoteResponse" message="tns:IKandidat_doVote_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKandidat" type="tns:IKandidat">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShowKandidat">
      <soap:operation soapAction="http://tempuri.org/IKandidat/ShowKandidat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="http://tempuri.org/IKandidat/validateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doVote">
      <soap:operation soapAction="http://tempuri.org/IKandidat/doVote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Kandidat">
    <wsdl:port name="BasicHttpBinding_IKandidat" binding="tns:BasicHttpBinding_IKandidat">
      <soap:address location="http://localhost:50363/Kandidat.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>