Web_Client/Service References/KandidatService/Kandidat2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50363/Kandidat.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_Server" />
  <xs:element name="ShowKandidat">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ShowKandidatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Server" minOccurs="0" name="ShowKandidatResult" nillable="true" type="q1:ArrayOfKandidatInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="validateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="validateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Server" minOccurs="0" name="suara" nillable="true" type="q2:VoteInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doVoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doVoteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>